@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

</style>

<a href="~/transactions" class="btn btn-primary">Initiate a Transaction</a>
<div class="text-center">
    <h1 class="display-4">Transactions</h1>

    @if (Model.Transactions?.Any() != true)
    {
        <p>No transactions found.</p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Payer</th>
                    <th>Payee</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Narration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                    <tr onclick="window.location.href = '/details/@transaction.Id'" style="cursor:pointer">
                        <td data-id="@transaction.Id">@transaction.Payer</td>
                        <td>@transaction.Payee</td>
                        <td>@transaction.Currency</td>
                        <td>@transaction.Amount.ToString("N2")</td>
                        <td>@transaction.Narration</td>
                        <td>@transaction.PaymentStatus.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>